<% include ./partials/header %>


<h1>This is the home page of: <%= mole["path"] %> </h1>
<img src="photos/<%=mole["path"]%>">	
<% for(var x=0; x<10; x++){ %>
    
    <p>Hello</p>
    
<% } %>

<% include ./partials/footer %>
