<% include ./partials/header %>

<div class = "ui main text container segment">
    <div class="ui huge header">Mole #<%= mole.basicId %></div>
</div>



<div class="ui main text container segment">
    <div id="header" class = "ui huge header">Send Feedback</div>
    <form class = "ui form" action="/showpage" method = "POST">
        <div>
            <textarea name = "message[body]" placeholder="Message for Patient"></textarea>
        </div>
        <input id = "input" class="ui red button" type = "submit">

    </form>
</div>
<% include ./partials/footer %>
